{% extends "layout.html"%}

{% block content %}
<br><br><br><br><br>
<script>
    function mult(p1,p2) {
      var ans;
      console.log(p1)
    console.log(p2)
    console.log(ans)
      ans = p1 * p2;
  
      document.getElementById('ans').value = parseFloat(ans).toFixed(2);
    }
  </script>

<br><br><br><br><br><br><br><br><br><br>
   <div style="margin: auto; width: 300 px; background-color: lightblue; padding: Spx;">

    <label for="">input:</label>
    <input type="text" name=""  id ="a" onkeyup="mult(document.getElementById('a').value,!!document.getElementById('b').value);">
    <input type="text" name=""  id ="b" onkeyup="mult(document.getElementById('a').value,document.getElementById('b').value);">
    <input type="text" value="0" id="ans">
   </div> 

{% endblock %}



