{% extends "layout.html"%}

{% block content %}
<h1>555</h1>
{% endblock %}
<!--<br><br><br><br><br><br>
<table id="myTable">
    <tr>
        <td><span class="text-center">
            <input type="text" name="pro_id" value="" size="5">
          </span></td>
          <td><span class="text-center">
            <input type="text" name="pro_name" value="" size="25">
          </span></td>
          <td><span class="text-center">
            <input type="text" name="pro_pack" value="" size="10">
            <label for="select"></label>
          </span></td>
    </tr>
</table>
<br>

<button type="button" onclick="myFunction()">Try it</button>
<button onclick="myFunction2()">end</button>

<script>
    function myFunction() {
        var table = document.getElementById("myTable");
        var row = table.insertRow(0);
        var pro_id = row.insertCell(0);
        var pro_name = row.insertCell(1);
        pro_id.innerHTML = "insertRo1";
        pro_name.innerHTML = "insertRow2";
    }
</script>

<script>
    function myFunction2() {
        document.getElementById("myTable").deleteRow(0);
    }
</script>-->