{% extends "layout.html"%}

{% block content %}

<br><br><br><br><br><br>
<div class="d-flex justify-content-center">
  <h4>ใบเสนอราคา</h4>
</div>
<br>
<div class="position-absolute top-60 start-50 translate-middle-x">
  <form action="{{url_for('adminup')}}" method="get">
    <div class="row">
      <div class="col-md-6">
        <label for="">ชื่อ (Customer Name)</label>
        <br>
        <input type="text" name="idname" class="form-control" size="60">
      </div>
      <div class="col-md-6">
        <label for="">ผู้รับผิดชอบ (Sale)</label>
        <br>
        <select class="form-select" name="sale" aria-label="Default select example">
          <option selected>กรุณาเลือกชื่อพนักงานขาย</option>
          <option value="Supapich">Supapich</option>
          <option value="Pariyakorn">Pariyakorn</option>
          <option value="Nitin">Nitin</option>
          <option value="Aorapas">Aorapas</option>
          <option value="Chanyapak">Chanyapak</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="">อีเมล์ (Email)</label>
        <br>
        <input type="text" name="mail" class="form-control" size="60">
      </div>
      <div class="col-md-6">
        <label for="">ราคา (price)</label>
        <br>
        <select class="form-select" name="price" aria-label="Default select example">
          <option selected>ราคา</option>
          <option value="รวมบรรจุภัณฑ์|including packaging">รวมบรรจุภัณฑ์|including packaging</option>
          <option value="ไม่รวมบรรจุภัณฑ์|packaging not including">ไม่รวมบรรจุภัณฑ์|packaging not including</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="">เลขประจำตัวผู้เสียภาษี (Tax ID)</label>
        <br>
        <input type="text" name="tax" class="form-control" size="60">
      </div>
      <div class="col-md-6">
        <label for="">ประเภทการชำระ (Payment)</label>
        <br>
        <select class="form-select" name="Payment" aria-label="Default select example">
          <option selected>การชำระเงิน</option>
          <option value="ชำระเงินเต็มจำนวน|Paid 100%">ชำระเงินเต็มจำนวน|Paid 100%</option>
          <option value="มัดจำ 50% ก่อนส่ง 50%|Deposit 50% Before delivery 50%">มัดจำ 50% ก่อนส่ง 50%|Deposit 50% Before
            delivery 50%</option>
          <option value="มัดจำ 50% หลังส่ง 50%|Deposit 50% After delivery 50%">มัดจำ 50% หลังส่ง 50%|Deposit 50% After
            delivery 50%</option>
          <option value="Credit 7 วัน">Credit 7 วัน</option>
          <option value="Credit 14 วัน">Credit 14 วัน</option>
          <option value="Credit 30 วัน">Credit 30 วัน</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="">โทรศัพท์ (Tel.)</label>
        <br>
        <input type="text" name="tel" class="form-control" size="60">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="">ที่อยู่</label>
        <br>
        <textarea name="Address" name="addr" id="" cols="30" rows="10" maxlength="100"></textarea>
      </div>
    </div>
    <!--
    <br>
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>NO.</th>
            <th>รายการสินค้า</th>
            <th>ขนาดบรรจุ</th>
            <th>จำนวน</th>
            <th>ราคาต่อหน่วย</th>
            <th>รวมเป็นเงิน</th>
          </tr>
        </thead>
        <tbody>
    </div>-->
    <input type="submit" onclick="alert('รายละเอียดของคุณได้ถูกส่งแล้ว')" value="ส่งข้อมูล" class="btn btn-success">
    <input type="reset" value="ล้าง" class="btn btn-danger">
</div>
</form>

{% endblock %}